#
# Temperature Monitor - https://github.com/blueskyfish/temperature-sensor-server.git
#
# The MIT License (MIT)
# Copyright (c) 2015 BlueSkyFish
#
# Distributed on "<%= datetime %> @ <%= target %>" in version <%= version %>
#

RewriteEngine On
RewriteBase <$= contextPath %>/viewer/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
